
{% extends 'base.html' %} 
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}

<!-- Showcase -->
<section id="showcase">
<div class="container text-center">
    <div class="home-search p-5">
    <div class="overlay p-5">
        <h1 class="display-4 mb-4">
        Welcome to Leonardo: the Stock Thing
        </h1>
        <p class="lead">Please Click The Big Red Button To Begin, fair warning we are in the process of finding more efficient data sources and this may take up to two minutes to scour the internet in order to pull all the correct values. After you have clicked the big red button we will store temporary values in your cache so that you don't have to wait too long each time you go to the list of options page. This cache will be reset every 15 minutes, at which point you will have to wait a little while again to pull all the datapoints. If you change the trading view filters on the next page or clear the cache with the designated button it will cause you to do the timely data pull with fresh values.</p>
        <div class="search">
            <a class="nav-link" href="{% url 'options' %}"><button type="button" class="btn btn-danger btn-lg">Big Red Button</button></a>

        </div>
    </div>
    </div>
</div>
</section>
<br>


{% endblock %}