
{% extends 'base.html' %} 
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
        <div class="overlay p-5">
            <h1 class="display-4 mb-4">
            Check Out These Options
            </h1>
            <p class="lead">Welcome to Leonardo your one stop shop for all your options information related needs</p>
            <div class="search">
            <form action="{% url 'options' %}">
                <!-- Form Row 1 -->
                <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>StochK</label>
                    <input type="text" name="StochK" class="form-control" placeholder="StochK" value = {{ filter_values.StochK }}>
                </div>
                <div class="col-md-4 mb-3">
                    <label>mktCapMin</label>
                    <input type="text" name="mktCapMin" class="form-control" placeholder="mktCapMin" value = {{ filter_values.mktCapMin }}>
                </div>

                <div class="col-md-4 mb-3">
                    <label>macd_macd</label>
                    <input type="text" name="macd_macd" class="form-control" placeholder="macd_macd" value = {{ filter_values.macd_macd }}>
                </div>
    

                </div>
                <!-- Form Row 2 -->
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label>StochD</label>
                        <input type="text" name="StochD" class="form-control" placeholder="StochD" value = {{ filter_values.StochD }}>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>div_yield_recent</label>
                        <input type="text" name="div_yield_recent" class="form-control" placeholder="div_yield_recent" value = {{ filter_values.div_yield_recent }}>
                    </div>     
                    <div class="col-md-4 mb-3">
                        <label>macd_signal</label>
                        <input type="text" name="macd_signal" class="form-control" placeholder="macd_signal" value = {{ filter_values.macd_signal }}>
                    </div>
                </div>
                <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
            </div>
        </div>
        </div>
    </div>
    </section>

    <section id="showcase">
        <div class="container text-center">
            <div class="home-search p-5">
            <div class="overlay p-5">
                <p class="lead">Table Filters</p>
                <div class="search">
                <form method="post" action="{% url 'options' %}">
                    {% csrf_token %}
                    <!-- Form Row 1 -->
                    <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label>minimumReturn</label>
                        <input type="text" name="minimumReturn" class="form-control" placeholder="StochK" value = {{ filter_values.StochK }}>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>belowFV</label>
                        <input type="text" name="belowFV" class="form-control" placeholder="mktCapMin" value = {{ filter_values.mktCapMin }}>
                    </div>
    
                    <div class="col-md-4 mb-3">
                        <label>min_exp</label>
                        <input type="text" name="min_exp" class="form-control" placeholder="macd_macd" value = {{ filter_values.macd_macd }}>
                    </div>
        
    
                    </div>
                    <!-- Form Row 2 -->
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>maxExp</label>
                            <input type="text" name="maxExp" class="form-control" placeholder="StochD" value = {{ filter_values.StochD }}>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>div_yield_recent</label>
                            <input type="text" name="div_yield_recent" class="form-control" placeholder="div_yield_recent" value = {{ filter_values.div_yield_recent }}>
                        </div>     
                        <div class="col-md-4 mb-3">
                            <label>macd_signal</label>
                            <input type="text" name="macd_signal" class="form-control" placeholder="macd_signal" value = {{ filter_values.macd_signal }}>
                        </div>
                    </div>
                    <input type="hidden" name="cache_key" class="form-control" value = {{ cache_key }}>
                    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                </form>
                </div>
            </div>
            </div>
        </div>
        </section>


    <!-- {{ d.symbol }} -->


    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>symbol</th>

                <th>current Price</th>

                <th>Fair Value</th>
            
                <th>Max Exp Date Days</th>
            
                <th>Min Exp Date Days</th>
            
                <th>currency</th>
            
                <th>lastPrice</th>
            </tr>
          

        </thead>
        {% if d %}  
        <tbody>
        <!-- jinja2 Technique -->
        {% for i in d %}
                <tr>
                    <td>{{ i.symbol }}</td>
                    <td>{{ i.currentPrice }}</td>
                    <td>{{ i.FairValue }}</td>
                </tr>
        {% endfor %}
        {% endif %}
        </tbody>

    </table>
<br>

<br>


{% endblock %}