
{% extends 'base.html' %} 
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
    <!-- <section id="showcase"> -->
        <div class="container-lg text-center">
            <div>
                {% if data_stat %}
                {% for i in data_stat %}
                <p class="lead">{{ i.symbol }}</p>

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label>symbol: {{ i.symbol }} </label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>price: {{ i.currentPrice }} </label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Fair Value: {{ i.FairValue }} </label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Market Cap: {{ i.marketCap }} </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label>p/e 2019: {{ i.p_e2019}} </label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>p/e 2018: {{ i.p_e2018}} </label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>p/e 2017: {{ i.p_e2017}} </label>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>current Yr Est:  {{ i.currentYrEstimate }}</label>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- </section> -->


    <!-- {{ d.symbol }} -->


    <table class="table table-dark table-striped">
        <thead>
            <tr>

                <th>current Price</th>

                <th>Fair Value</th>

                <th><a style='color:white' href="{% url 'ticker' ticker %}?order_by=strike&order_mode={{order_mode}}">{% if order_by == 'strike' %}<i class="fa fa-arrow-{{sort_icon}}"></i>{% endif %}Strike</a></th>
            
                <th><a style='color:white' href="{% url 'ticker' ticker %}?order_by=expiration&order_mode={{order_mode}}">{% if order_by == 'expiration' %}<i class="fa fa-arrow-{{sort_icon}}"></i>{% endif %}Expiration</a></th>

                <th>Mid Bid</th>

                <th><a style='color:white' href="{% url 'ticker' ticker %}?order_by=return&order_mode={{order_mode}}">{% if order_by == 'return' %}<i class="fa fa-arrow-{{sort_icon}}"></i>{% endif %}Return</a></th>
            
            
            </tr>
          

        </thead>
        {% if d %}  
        <tbody>
        <!-- jinja2 Technique -->
        {% for i in d %}
                <tr>
                    <td>{{ i.currentPrice }}</td>
                    <td>{{ i.FairValue }}</td>
                    <td>{{ i.strike }}</td>
                    <td>{{ i.expiration}}</td>
                    <td>{{ i.midBid }}</td>
                    <td>{{ i.return }}%</td>

                </tr>
        {% endfor %}
        {% endif %}
        </tbody>

    </table>
<br>

<br>


{% endblock %}