
{% extends 'base.html' %} 
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
    <section id="showcase">
        <div class="container text-center">
            <div class="home-search p-5">
            <div class="overlay p-5">
                <p class="lead">Single Option</p>
                <div class="search">
                <form method="post" action="{% url 'options' %}">
                    {% csrf_token %}
                    <!-- Form Row 1 -->
                    <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label>minimumReturn</label>
                        <input type="text" name="minimumReturn" class="form-control" placeholder="minimumReturn" value = {{ filter_values.minimumReturn }}>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>belowFV</label>
                        <input type="text" name="belowFV" class="form-control" placeholder="belowFV" value = {{ filter_values.belowFV }}>
                    </div>
    
                    <div class="col-md-4 mb-3">
                        <label>minExp</label>
                        <input type="text" name="min_exp" class="form-control" placeholder="minExp" value = {{ filter_values.minExp }}>
                    </div>
        
    
                    </div>
                    <!-- Form Row 2 -->
                    <div class="form-row">

                        <div class="col-md-4 mb-3">
                            <label>maxExp</label>
                            <input type="text" name="maxExp" class="form-control" placeholder="maxExp" value = {{ filter_values.maxExp }}>
                        </div>     

                    </div>
                    <input type="hidden" name="cache_key" class="form-control" value = {{ cache_key }}>
                    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                </form>
                </div>
            </div>
            </div>
        </div>
        </section>


    <!-- {{ d.symbol }} -->


    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>symbol</th>

                <th>current Price</th>

                <th>Fair Value</th>
            
                <th>Expiration</th>
            
                <th>Return</th>
            
            </tr>
          

        </thead>
        {% if d %}  
        <tbody>
        <!-- jinja2 Technique -->
        {% for i in d %}
                <tr>
                    <td>{{ i.symbol }}</td>
                    <td>{{ i.currentPrice }}</td>
                    <td>{{ i.FairValue }}</td>
                    <td>{{ i.expiration}}</td>
                    <td>{{ i.return }}</td>

                </tr>
        {% endfor %}
        {% endif %}
        </tbody>

    </table>
<br>

<br>


{% endblock %}